### Preprocessing & Feature Engineering

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import plotly.express as px

In [2]:
data = pd.read_csv("data/sales_origiinal_data.csv")
data.head(20)

C:\Users\danrl\AppData\Local\Temp\ipykernel_25540\2471576767.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data/sales_origiinal_data.csv")

,Opportunity Name,Created Date,Close Date,Account Name,Account Type,Opp Value (EUR),Stage,Opportunity Owner,Country,Region,Segment,Lead Source,Type,Primary Campaign Source,Close Reason,Business Type
0,Opp 1,01/03/2023,1/25/2024,Account 1,Small,994,Closed Lost,Sales Specialist 1,Country 1,Region 1,NaN,NaN,New Business,Campaing 1,Project/Budget Cancelled/Out of Business,NaN
1,Opp 2,19/02/2024,3/2/2024,Account 2,Top 2,6,Closed Won,Sales Specialist 2,Country 1,Region 1,Segment 1,NaN,New Business,Campaing 1,Automatically closed,NaN
2,Opp 7,18/10/2023,1/22/2024,Account 7,Small,2.157,Closed Lost,Sales Specialist 6,Country 1,Region 1,Segment 3,Referral,New Business,Campaing 5,Price,NaN
3,Opp 8,16/06/2023,2/4/2024,Account 8,Small,183,Closed Lost,Sales Specialist 7,Country 1,Region 1,NaN,NaN,Existing Business,Campaing 5,Unable to Confirm Sale,NaN
4,Opp 9,04/05/2023,2/4/2024,Account 8,Small,372,Closed Lost,Sales Specialist 7,Country 1,Region 1,NaN,NaN,New Business,Campaing 5,Unable to Confirm Sale,NaN
5,Opp 10,03/05/2023,2/4/2024,Account 8,Small,429,Closed Lost,Sales Specialist 7,Country 1,Region 1,NaN,NaN,New Business,Campaing 5,Unable to Confirm Sale,NaN
6,Opp 11,28/09/2023,3/4/2024,Account 7,Small,1.456,Closed Lost,Sales Specialist 8,Country 1,Region 1,Segment 3,Referral,New Business,Campaing 5,Price,NaN
7,Opp 12,22/05/2023,3/7/2024,Account 9,Top 3,551,Closed Won,Sales Specialist 7,Country 1,Region 1,Segment 3,NaN,Existing Business,Campaing 5,Service & Support,NaN
8,Opp 13,22/05/2023,3/7/2024,Account 10,Small,1.312,Closed Lost,Sales Specialist 7,Country 1,Region 1,Segment 3,NaN,Existing Business,Campaing 5,Project/Budget Cancelled/Out of Business,NaN
9,Opp 14,13/06/2023,4/6/2024,Account 11,Small,50,Closed Lost,Sales Specialist 9,Country 1,Region 1,Segment 3,NaN,Existing Business,Campaing 5,Automatically closed,NaN
10,Opp 15,26/10/2023,4/8/2024,Account 12,Small,778,Closed Lost,Sales Specialist 8,Country 1,Region 1,Segment 3,Referral,New Business,Campaing 5,Unable to Confirm Sale,NaN
11,Opp 16,16/06/2023,1/3/2024,Account 13,Top 3,4.260,Closed Won,Sales Specialist 10,Country 2,Region 1,Segment 3,Referral,New Business,Campaing 6,Price,NaN
12,Opp 17,25/10/2023,1/6/2024,Account 14,Small,60,Closed Lost,Sales Specialist 11,Country 2,Region 1,Segment 3,NaN,New Business,Campaing 6,Automatically closed,NaN
13,Opp 18,16/05/2023,1/8/2024,Account 15,Small,1.931,Closed Lost,Sales Specialist 12,Country 2,Region 1,Segment 3,NaN,Existing Business,Campaing 6,Project/Budget Cancelled/Out of Business,NaN
14,Opp 19,16/11/2023,1/10/2024,Account 16,Small,64,Closed Lost,Sales Specialist 13,Country 2,Region 1,Segment 3,Referral,New Business,Campaing 6,Price,NaN
15,Opp 20,08/12/2023,1/11/2024,Account 17,Small,6.929,Closed Lost,Sales Specialist 14,Country 2,Region 1,Segment 2,Referral,New Business,Campaing 6,Price,NaN
16,Opp 21,17/11/2023,1/11/2024,Account 18,Top 3,2.275,Closed Lost,Sales Specialist 13,Country 2,Region 1,Segment 3,NaN,New Business,Campaing 6,Price,NaN
17,Opp 22,16/11/2023,1/11/2024,Account 18,Top 3,1.241,Closed Lost,Sales Specialist 13,Country 2,Region 1,Segment 3,NaN,New Business,Campaing 6,Price,NaN
18,Opp 23,01/11/2023,1/11/2024,Account 19,Small,89,Closed Lost,Sales Specialist 14,Country 2,Region 1,Segment 3,Referral,New Business,Campaing 6,Price,NaN
19,Opp 24,05/09/2023,1/11/2024,Account 20,Small,1.050,Closed Lost,Sales Specialist 14,Country 2,Region 1,Segment 1,Referral,New Business,Campaing 6,Project/Budget Cancelled/Out of Business,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84285 entries, 0 to 84284
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Opportunity Name         84285 non-null  object
 1   Created Date             84285 non-null  object
 2   Close Date               84285 non-null  object
 3    Account Name            84285 non-null  object
 4    Account Type            84285 non-null  object
 5    Opp Value (EUR)         84285 non-null  object
 6   Stage                    84285 non-null  object
 7   Opportunity Owner        84285 non-null  object
 8   Country                  84285 non-null  object
 9   Region                   84285 non-null  object
 10  Segment                  82586 non-null  object
 11  Lead Source              293 non-null    object
 12  Type                     83572 non-null  object
 13  Primary Campaign Source  15608 non-null  object
 14  Close Reason             84281 non-null  object
 15  Business Type            1291 non-null   object
dtypes: object(16)
memory usage: 10.3+ MB

In [4]:
data.describe()

,Opportunity Name,Created Date,Close Date,Account Name,Account Type,Opp Value (EUR),Stage,Opportunity Owner,Country,Region,Segment,Lead Source,Type,Primary Campaign Source,Close Reason,Business Type
count,84285,84285,84285,84285,84285,84285,84285,84285,84285,84285,82586,293,83572,15608,84281,1291
unique,84285,901,352,4774,4,4868,2,197,3,2,4,29,4,268,12,4
top,Opp 1,19/06/2024,1/6/2024,Account 143,Top 3,-,Closed Won,Sales Specialist 35,Country 2,Region 1,Segment 1,Referral,Existing Business,Campaing 129,Automatically closed,Existing Business
freq,1,443,4129,867,40371,1308,43792,2805,57494,70806,31687,136,65530,1379,55830,991

## Preprocess and Feature Engineering:

### Handling Missing Values

In [5]:
# Handling missing values:
data["Segment"] = data["Segment"].fillna("Unknow")
data["Lead Source"] = data["Lead Source"].fillna("Unknow")
data["Type"] = data["Type"].fillna("Unknow")
data["Primary Campaign Source"] = data["Primary Campaign Source"].fillna("Unknow")
data["Close Reason"] = data["Close Reason"].fillna("Unknow")
data["Business Type"] = data["Business Type"].fillna("Unknow")

### # Update the numeric values to float and the problematic to NaN:

In [6]:
# Update the numeric values to float and the problematic to NaN:
data[" Opp Value (EUR)"] = pd.to_numeric(data[" Opp Value (EUR)"], errors='coerce')
print(data[" Opp Value (EUR)"].dtype)
data[" Opp Value (EUR)"]

float64

0        994.000
1          6.000
2          2.157
3        183.000
4        372.000
          ...
84280     43.000
84281     26.000
84282    704.000
84283     22.131
84284     62.673
Name:  Opp Value (EUR), Length: 84285, dtype: float64

#### Creating a Deal Opened (Days) feature with Datatime:

In [7]:
# "Close Date" and está no formato datetime

data[['Created Date', 'Close Date']]

      Created Date  Close Date
0       01/03/2023   1/25/2024
1       19/02/2024    3/2/2024
2       18/10/2023   1/22/2024
3       16/06/2023    2/4/2024
4       04/05/2023    2/4/2024
...            ...         ...
84280   06/09/2024  12/31/2024
84281   30/01/2024  12/31/2024
84282   29/01/2024  12/31/2024
84283   12/07/2024  12/31/2024
84284   12/07/2024  12/31/2024

[84285 rows x 2 columns]

In [8]:
# Convert Created Date and Close Date to datetime and Garantee that the errors will be corrected:
data['Created Date'] = pd.to_datetime(data['Created Date'], format='%d/%m/%Y', errors="coerce")
data['Close Date'] = pd.to_datetime(data['Close Date'], format='%m/%d/%Y', errors="coerce")

# Calculate the time to close in days
data['Deal Opened (Days)'] = (data['Close Date'] - data['Created Date']).dt.days
data

,Opportunity Name,Created Date,Close Date,Account Name,Account Type,Opp Value (EUR),Stage,Opportunity Owner,Country,Region,Segment,Lead Source,Type,Primary Campaign Source,Close Reason,Business Type,Deal Opened (Days)
0,Opp 1,2023-03-01,2024-01-25,Account 1,Small,994.000,Closed Lost,Sales Specialist 1,Country 1,Region 1,Unknow,Unknow,New Business,Campaing 1,Project/Budget Cancelled/Out of Business,Unknow,330
1,Opp 2,2024-02-19,2024-03-02,Account 2,Top 2,6.000,Closed Won,Sales Specialist 2,Country 1,Region 1,Segment 1,Unknow,New Business,Campaing 1,Automatically closed,Unknow,12
2,Opp 7,2023-10-18,2024-01-22,Account 7,Small,2.157,Closed Lost,Sales Specialist 6,Country 1,Region 1,Segment 3,Referral,New Business,Campaing 5,Price,Unknow,96
3,Opp 8,2023-06-16,2024-02-04,Account 8,Small,183.000,Closed Lost,Sales Specialist 7,Country 1,Region 1,Unknow,Unknow,Existing Business,Campaing 5,Unable to Confirm Sale,Unknow,233
4,Opp 9,2023-05-04,2024-02-04,Account 8,Small,372.000,Closed Lost,Sales Specialist 7,Country 1,Region 1,Unknow,Unknow,New Business,Campaing 5,Unable to Confirm Sale,Unknow,276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84280,Opp 142334,2024-09-06,2024-12-31,Account 1812,Small,43.000,Closed Won,Sales Specialist 15,Country 2,Region 1,Segment 2,Unknow,New Business,Unknow,Automatically closed,Unknow,116
84281,Opp 142337,2024-01-30,2024-12-31,Account 1397,Top 3,26.000,Closed Won,Sales Specialist 55,Country 2,Region 1,Segment 2,Unknow,Existing Business,Unknow,Price,Unknow,336
84282,Opp 142338,2024-01-29,2024-12-31,Account 1085,Small,704.000,Closed Won,Sales Specialist 18,Country 1,Region 1,Segment 3,Unknow,Existing Business,Unknow,Brand Recognition / Supplier Reputation,Unknow,337
84283,Opp 142339,2024-07-12,2024-12-31,Account 598,Top 3,22.131,Closed Won,Sales Specialist 46,Country 2,Region 1,Segment 2,Unknow,Existing Business,Unknow,Automatically closed,Existing Business,172
84284,Opp 142340,2024-07-12,2024-12-31,Account 2052,Top 2,62.673,Closed Won,Sales Specialist 46,Country 2,Region 1,Segment 2,Unknow,Existing Business,Unknow,Automatically closed,Unknow,172

In [9]:
data_value_negative = data[data["Deal Opened (Days)"]<0]
data_value_negative

,Opportunity Name,Created Date,Close Date,Account Name,Account Type,Opp Value (EUR),Stage,Opportunity Owner,Country,Region,Segment,Lead Source,Type,Primary Campaign Source,Close Reason,Business Type,Deal Opened (Days)
8002,Opp 11665,2024-02-29,2024-01-11,Account 2757,Small,91.000,Closed Won,Sales Specialist 11,Country 2,Region 1,Segment 3,Unknow,Existing Business,Unknow,Brand Recognition / Supplier Reputation,Unknow,-49
8205,Opp 12031,2024-02-29,2024-01-12,Account 2800,Small,124.000,Closed Won,Sales Specialist 11,Country 2,Region 1,Segment 2,Unknow,New Business,Unknow,Brand Recognition / Supplier Reputation,Unknow,-48
8943,Opp 13251,2024-02-29,2024-01-15,Account 2926,Small,54.000,Closed Won,Sales Specialist 11,Country 2,Region 1,Unknow,Unknow,Existing Business,Unknow,Brand Recognition / Supplier Reputation,Unknow,-45
8944,Opp 13252,2024-02-29,2024-01-15,Account 2927,Small,168.000,Closed Won,Sales Specialist 11,Country 2,Region 1,Segment 3,Unknow,Existing Business,Unknow,Brand Recognition / Supplier Reputation,Unknow,-45
9136,Opp 13577,2024-02-29,2024-01-18,Account 2952,Small,465.000,Closed Won,Sales Specialist 11,Country 2,Region 1,Segment 2,Unknow,New Business,Unknow,Brand Recognition / Supplier Reputation,Unknow,-42
10114,Opp 14998,2024-02-29,2024-01-22,Account 3082,Small,50.000,Closed Won,Sales Specialist 11,Country 2,Region 1,Segment 3,Unknow,Existing Business,Unknow,Brand Recognition / Supplier Reputation,Unknow,-38
10115,Opp 14999,2024-02-29,2024-01-22,Account 3083,Small,37.000,Closed Won,Sales Specialist 11,Country 2,Region 1,Segment 3,Unknow,Existing Business,Unknow,Brand Recognition / Supplier Reputation,Unknow,-38
11917,Opp 17679,2024-02-29,2024-01-30,Account 3279,Small,95.000,Closed Won,Sales Specialist 11,Country 2,Region 1,Segment 4,Unknow,Existing Business,Unknow,Brand Recognition / Supplier Reputation,Unknow,-30
12988,Opp 19496,2024-02-05,2024-02-04,Account 946,Top 3,13.000,Closed Lost,Sales Specialist 127,Country 1,Region 1,Segment 2,Unknow,Existing Business,Unknow,Project/Budget Cancelled/Out of Business,Unknow,-1
14124,Opp 21383,2024-08-08,2024-02-13,Account 436,Top 3,80.000,Closed Lost,Sales Specialist 72,Country 2,Region 1,Segment 1,Unknow,Existing Business,Unknow,Automatically closed,Unknow,-177
14131,Opp 21397,2024-02-13,2024-02-12,Account 848,Top 3,104.000,Closed Won,Sales Specialist 9,Country 1,Region 1,Segment 3,Unknow,Existing Business,Unknow,Features / Specification / Performance,Unknow,-1
20040,Opp 31260,2024-03-13,2024-03-12,Account 871,Top 2,35.000,Closed Won,Sales Specialist 74,Country 1,Region 1,Segment 4,Unknow,Existing Business,Unknow,Brand Recognition / Supplier Reputation,Unknow,-1
22914,Opp 35715,2024-03-26,2024-03-25,Account 848,Top 3,1.057,Closed Won,Sales Specialist 9,Country 1,Region 1,Segment 3,Unknow,Existing Business,Unknow,Features / Specification / Performance,Unknow,-1
54783,Opp 86322,2024-07-16,2024-07-15,Account 848,Top 3,707.000,Closed Won,Sales Specialist 9,Country 1,Region 1,Segment 3,Unknow,Existing Business,Campaing 253,Features / Specification / Performance,Unknow,-1
55761,Opp 88649,2024-11-14,2024-11-13,Account 1073,Small,125.000,Closed Won,Sales Specialist 9,Country 1,Region 1,Unknow,Unknow,Existing Business,Campaing 286,Availability / Lead Time,Unknow,-1
56446,Opp 90405,2024-07-04,2024-07-03,Account 848,Top 3,136.000,Closed Won,Sales Specialist 9,Country 1,Region 1,Segment 3,Unknow,Existing Business,Unknow,Features / Specification / Performance,Unknow,-1
73274,Opp 120351,2024-10-14,2024-10-13,Account 848,Top 3,38.000,Closed Won,Sales Specialist 9,Country 1,Region 1,Segment 3,Unknow,Existing Business,Unknow,Features / Specification / Performance,Unknow,-1

In [10]:
# Remove rows where "Deal Opened (Days)" is negative
data = data[data["Deal Opened (Days)"] >= 0]
data

,Opportunity Name,Created Date,Close Date,Account Name,Account Type,Opp Value (EUR),Stage,Opportunity Owner,Country,Region,Segment,Lead Source,Type,Primary Campaign Source,Close Reason,Business Type,Deal Opened (Days)
0,Opp 1,2023-03-01,2024-01-25,Account 1,Small,994.000,Closed Lost,Sales Specialist 1,Country 1,Region 1,Unknow,Unknow,New Business,Campaing 1,Project/Budget Cancelled/Out of Business,Unknow,330
1,Opp 2,2024-02-19,2024-03-02,Account 2,Top 2,6.000,Closed Won,Sales Specialist 2,Country 1,Region 1,Segment 1,Unknow,New Business,Campaing 1,Automatically closed,Unknow,12
2,Opp 7,2023-10-18,2024-01-22,Account 7,Small,2.157,Closed Lost,Sales Specialist 6,Country 1,Region 1,Segment 3,Referral,New Business,Campaing 5,Price,Unknow,96
3,Opp 8,2023-06-16,2024-02-04,Account 8,Small,183.000,Closed Lost,Sales Specialist 7,Country 1,Region 1,Unknow,Unknow,Existing Business,Campaing 5,Unable to Confirm Sale,Unknow,233
4,Opp 9,2023-05-04,2024-02-04,Account 8,Small,372.000,Closed Lost,Sales Specialist 7,Country 1,Region 1,Unknow,Unknow,New Business,Campaing 5,Unable to Confirm Sale,Unknow,276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84280,Opp 142334,2024-09-06,2024-12-31,Account 1812,Small,43.000,Closed Won,Sales Specialist 15,Country 2,Region 1,Segment 2,Unknow,New Business,Unknow,Automatically closed,Unknow,116
84281,Opp 142337,2024-01-30,2024-12-31,Account 1397,Top 3,26.000,Closed Won,Sales Specialist 55,Country 2,Region 1,Segment 2,Unknow,Existing Business,Unknow,Price,Unknow,336
84282,Opp 142338,2024-01-29,2024-12-31,Account 1085,Small,704.000,Closed Won,Sales Specialist 18,Country 1,Region 1,Segment 3,Unknow,Existing Business,Unknow,Brand Recognition / Supplier Reputation,Unknow,337
84283,Opp 142339,2024-07-12,2024-12-31,Account 598,Top 3,22.131,Closed Won,Sales Specialist 46,Country 2,Region 1,Segment 2,Unknow,Existing Business,Unknow,Automatically closed,Existing Business,172
84284,Opp 142340,2024-07-12,2024-12-31,Account 2052,Top 2,62.673,Closed Won,Sales Specialist 46,Country 2,Region 1,Segment 2,Unknow,Existing Business,Unknow,Automatically closed,Unknow,172

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84268 entries, 0 to 84284
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Opportunity Name         84268 non-null  object
 1   Created Date             84268 non-null  datetime64[ns]
 2   Close Date               84268 non-null  datetime64[ns]
 3    Account Name            84268 non-null  object
 4    Account Type            84268 non-null  object
 5    Opp Value (EUR)         82959 non-null  float64
 6   Stage                    84268 non-null  object
 7   Opportunity Owner        84268 non-null  object
 8   Country                  84268 non-null  object
 9   Region                   84268 non-null  object
 10  Segment                  84268 non-null  object
 11  Lead Source              84268 non-null  object
 12  Type                     84268 non-null  object
 13  Primary Campaign Source  84268 non-null  object
 14  Close Reason             84268 non-null  object
 15  Business Type            84268 non-null  object
 16  Deal Opened (Days)       84268 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(13)
memory usage: 11.6+ MB

## Save the Data Preprocessed:

In [12]:
data.to_csv("data/sales_preprocessed_data.csv")

In [13]:
data.to_parquet("data/sales_preprocessed_data.parquet", engine='pyarrow')  # You can also use 'fastparquet'